@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Pontano+Sans&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1,
h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #252525;
}

#logo {
    float: left;
    font-size: 200%;
    margin-left: 1.88rem;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: .25rem;
}

#menu,
#logo {
    line-height: 4.69rem;
}

#menu {
    float: right;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1.88rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 0.0625rem solid #3a3a3a;
}

.active {
    border-bottom: 0.0625rem solid #3a3a3a;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

/* hero image */

#hero-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 37.5rem;
    max-width: 100%;
    background: url('../images/hero_image.webp') no-repeat center center;
    background-size: contain;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-text {
    font-size: 110%;
    font-family: 'Pontano Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25rem;

    width: 18.75rem;
    height: 12.5rem;

    padding-top: 2.5rem;
    padding-left: .625rem;

    background-color: rgba(241, 109, 107, .7);

    bottom: 7.5rem;
    right: 9.38rem;

    position: absolute;
}

/* blog list */

#blog-list {
    background-image: url('../images/blog-list-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#blog-list div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 20%;
    height: 18.75rem;
    float: left;
    padding: 1.88rem 0 0 0.625rem;
    text-align: center;
    border: 0.0625rem solid white;
    box-sizing: border-box;
}

#blog-list h2 {
    color: #fafafa;
}

form {
    font-family: 'Roboto Slab', sans-serif;
    padding-left: 33%;
}

input[type=email] {
    background-color:rgb(20,34,43);
    color: #fafafa 
}

input[type=submit] {
    background-color: rgb(38,51,67);
    color: #fafafa;
    width: 6rem;
    height: 1.5rem;
}

#feedback {
    background-color: rgb(20,34,43);
    color: #fafafa 
}

::placeholder {
    color: #fafafa;
}

footer {
    height: 9.38rem;
}

.social-networks {
    text-align: center;

}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

.credit {
    text-align: center;
}

#bodyweight-exercises {
    clear: both;
}

#bodyweight-exercises div h2 {
    margin: 3.13rem 3.13rem;
}

p {
    margin: 1.56rem 3.13rem;
}

#kettlebell-exercises {
    clear: both;
}

#kettlebell-exercises div h2 {
    margin: 3.13rem 3.13rem;
}

.exercise-images {
    margin: 1% 25% 1% 25%;
    width: 50%;
    height: auto;
    border-radius: 25%;
}

/* For larger to medium screens from 1200px wide and down */
@media screen and (max-width: 1200px){
    #blog-list {
        width: 100%;
        clear: both;
        height: 9.38rem;
        padding: 0;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-height: 950px) and (max-width: 450px) {
    
    #menu {
        clear: left;
        float: left;
        margin-left: 1.88rem;
        margin-bottom: 1.25rem;
        line-height: 1.56rem;
    }

    #hero-outer {
        width: 100%;
    }

    #hero-image {
        max-width: 100%;
        background: url('../images/hero_image_mobile.webp') no-repeat center center;
    }

    #cover-text {
        left: 0;
    }

    #blog-list h2 {
        font-size: .85rem;
    }

    #blog-list h3 {
        font-size: .75rem;
        overflow-wrap: break-word;
    }

    form {
        padding-left: 0;
    }

    #feedback {
        overflow-x: hidden;
    }
}

